<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="fragments :: navigation-shop"></nav>
<nav th:replace="fragments :: navigation-admin"></nav>

<div class="container">
    <h2>Administración de productos</h2>
    <br>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Lista de productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Crear nuevo producto</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 shadow-lg p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <h2>Lista de productos</h2>
                        <table class="table table-dark table-hover">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Opciones</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="producto: ${productos}">
                                <td th:text="${producto.nombre}">John</td>
                                <td th:text="'$'+${producto.precio}">Doe</td>

                                <td>

                                    <form action="#" th:action="@{/api/producto/delete/{id}(id=${producto.id})}"
                                          method="post"
                                          onsubmit="return confirm('¿Estás seguro que quieres borrar este producto? No hay vuelta atrás');">
                                        <a th:href="@{/api/producto/update/{id}(id=${producto.id})}">
                                            <button type="button" class="btn btn-warning">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                        </a>
                                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6 shadow-lg p-3 mb-5 bg-white rounded"><br>
                    <h2>Crear nuevo producto</h2> <br>
                    <form th:action="@{/api/producto/crear}" th:object="${producto}" method="post">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-keyboard"></i> Nombre</span>
                                </div>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre del producto"
                                   th:field="*{nombre}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <span><i class="fa fa-dollar-sign"></i> Precio</span>
                                </div>
                            </div>
                            <input type="number" class="form-control" min="0" th:field="*{precio}">
                        </div>
                        <button type="submit" class="btn btn-success">Agregar nuevo producto</button>
                    </form>
                    <br>
                </div>
                <div class="col-3"></div>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>

    </div>
</div>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>


</body>
<!--
<style>
    footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
</style>
-->
</html>